GROQ_API_KEY={grok-API-key}
NEO4J_URI={neo4j-uri}
NEO4J_USERNAME={neo4j-username}
NEO4J_PASSWORD={neo4j-password}

AI_DB_URL={postgres-url}

AWS_ACCESS_KEY_ID={aws-access-key-id}
AWS_SECRET_ACCESS_KEY={aws-secret-access-key}
AWS_REGION={aws-region}
S3_BUCKET={s3-bucket-name}

KAFKA_BROKER=localhost:9092
